// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

// Variables
$black: #191919;
$off-white: #fbfff1;
$white: #ffffff;
$primary: #5f0041;
$dark-blue: #0050a7;
$secondary: #0050a7;
$dark-gray: #363636;
$light-gray: #f4f4f4;
$dark-red: #41002d; 

$footer-top-color: $white;
$footer-bottom-color: $white;

// Fonts
$heading: 'Montserrat', sans-serif;
$heading-special: 'Permanent Marker', serif;
$sub-heading: 'Montserrat', sans-serif;
$body: 'Montserrat', sans-serif;

// Base Styles
@import 'base/reset';
@import 'base/common';
@import 'base/grid';
@import 'base/helpers';
@import 'base/responsive-fonts';

@import 'base/header';
@import 'base/footer';
@import 'base/cta';
@import 'base/home-page';
@import 'base/hero-title';
@import 'base/archive.scss';
@import 'base/sidebar.scss';
@import 'base/hybrid.scss';
@import 'base/landing.scss';