// CTA Styles
.call-to-action {
    padding: 60px 0;
    position: relative;
    text-align: center;

    .cta-container {
        @media (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    .cta-heading {
        font-family: $heading-special;
        margin-bottom: 15px;
        text-align: center;
    }

    .cta-text {
        background-color: #3B0027;
        font-size: .9rem;
        line-height: 1.6;
        margin-bottom: 30px;
        padding: 30px;
        text-align: center;
    }
    
    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 1.1rem;
        font-family: $heading-special;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color 0.5s ease;

        span {
            transition: color 0.5s ease;
        }
    }
}
