// 'Smart' Header Code
#masthead {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    z-index: 1000;
    padding: 10px 0;
}

.header-spacer {
    margin-top: 94px;

    @media (max-width: 767px) {
        margin-top: 76px;
    }

}
  
.site-header {
    background-color: $white;
    border-bottom: 2px solid $secondary;
    font-family: $heading;
    font-family: var(--e-global-typography-primary-font-family, Arial, sans-serif);
    font-weight: var(--e-global-typography-primary-font-weight, 400);
    font-size: var(--e-global-typography-primary-font-size, 16px);
    line-height: var(--e-global-typography-primary-line-height, 1.5);
    
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: 1180px;

        button {
            background: transparent;
        }

        @media (max-width: 768px) {
            padding: 10px 0;
        }
        
    }

    .site-branding {
        padding-top: 6px;
        width: 25%;
        
        a {
            display: block;

            img {
                max-width: 100%;
            }
            
            @media (max-width: 768px) {
                margin-left: 15px;
            }
        }

        @media (max-width: 768px) {
            padding-top: 0;
            width: 30%;
        }

        @media (max-width: 600px) {
            width: 40%;
        }

        @media (max-width: 480px) {
            width: 52%;
        }
    }

    .menu-toggle {
        display: none;
        
        @media (max-width: 768px) {
            display: block;
            margin-right: 15px;
            
            .hamburger {
                font-size: 24px;

                &:hover {
                    cursor: pointer;
                }
            
                &:before {
                    color: $primary;
                }
            }

            // Hide the hamburger icon when the menu is open
            &[aria-expanded="true"] .hamburger {
                display: none;
            }
        }
    }

    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        width: 75%;

        @media (min-width: 768px) {
            .current-menu-item a {
                color: $dark-gray;
            }

            .hire-btn.current-menu-item a {
                color: $white;
            }
        }

        //Button
        .apply-btn {
            padding: 6px 20px 3px;
            transition: background-color 0.5s ease;

            a {
                font-size: 1.4rem;
            }

            &:hover {
                a {
                    text-decoration: none;
                }
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                transition: color 0.5s ease;
            }

            @media (max-width: 768px) {

                &:hover {
                    background-color: $white;
    
                    a {
                        color: $primary;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            position: fixed;
            top: 0;
            justify-content: center;
            flex-direction: column;
            right: -100%;
            height: 100vh;
            width: 100%;
            background: #032f6fde;
            transition: right 0.3s ease;

            &.toggled {
                right: 0;
                z-index: 1000;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;

            li {
                margin: 0 15px;
                position: relative;

                a {
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color 0.5s ease;

                    &:hover {
                        text-decoration: underline;
                    }

                    @media (max-width: 768px) {
                        color: $white;
                        font-size: 1.5em;
                    }
                }

                @media (max-width: 768px) {
                    margin: 10px 0;
                }

                // Sub Menu
                ul {
                    background-color: $white;
                    border: 1px solid $primary;
                    box-shadow: 0px 7px 14px #50303159;
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 220px;
                    z-index: 9999;

                    @media (max-width: 768px) {
                        border: transparent;
                        background-color: transparent;
                        position: static;
                        width: auto;
                        max-height: 40vh; // Set a maximum height to 70% of the viewport height
                        overflow-y: auto; // Allow vertical scrolling
                    }

                    li {
                        border-top: 1px solid $primary;

                        @media (max-width: 768px) {
                            border-top: 1px solid $white;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    li:first-of-type {
                        border-top: transparent;
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                padding: 0;

            }
        }

        .menu-close {
            display: none; // Initially hidden
            position: absolute;
            top: 32px;
            right: 20px;
            color: $white; // Adjust as needed
            font-size: 24px; // Adjust as needed

            &:hover {
                cursor: pointer;
            }
    
            @media (max-width: 768px) {
                display: block; // Show only in mobile view
            }
    
            // More styles as needed...
        }
    
        &.toggled {
            // Styles when menu is toggled
            .menu-close {
                display: block; // Ensure it's visible when menu is open
            }
        }

        // Social Media Icons
        .social-media {
            display: none;

            @media (max-width: 768px) {
                display: flex;
                gap: 20px;
                justify-content: center;
                margin-bottom: 20px;
        
                a {
                    background-color: $white;
                    border-radius: 50%;
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    transition: opacity 0.5s ease;
        
                    i {
                        font-size: 1.2em;
                    }
        
                    &:hover {
                        opacity: .75;
                    }
                }
            }

            i {
                margin: 0 10px;
                color: $primary;
                font-size: 24px;
            }
        }
    }

    @media (min-width: 769px) {
        .menu-toggle {
            display: none;
        }
    }
}