.single-uwpe_landing_pages {
    .dark-bg {
        background-color: $dark-red;
        color: $off-white;

        h2, h3, h4, h5, h6 span, p, ul, li {
            color: $off-white;
        }
    }

    .light-bg {
        background-color: $white;
        color: $primary;

        h2, h3, h4, h5, h6 {
            color: $primary;
        }

        p, ul, li {
            color: $black
        }
    }

    ul ::marker {
        color: $secondary;
    }

    .row {
        @media (max-width: 767px) {
            padding: 15px !important;
        }
    }

    h1 {
        color: $off-white !important;
        font-size: 2.8rem !important;
        font-style: italic;
        font-weight: 900;
        text-transform: uppercase;
    }

    h2 {
        font-size: 2.4rem !important;
        font-style: italic;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;

        @media (max-width: 767px) {
            font-size: 1.6rem !important;
        }
    }

    p {
        color: $off-white;
        font-family: "Montserrat", sans-serif;
    }

    .align-left {
        padding-right: 15px;

        @media (max-width: 767px) {
            padding-right: 0;
        }
    }

    .align-right {
        padding-left: 15px;

        @media (max-width: 767px) {
            padding-left: 0;
        }
    }

    .hero-bg {
        background-color: $dark-blue;
    }
    
    .land-hero {
        padding: 60px 0;
        
        .content {
            align-content: center;
    
            h1 {
                font-size: 3.4rem;
                line-height: 1;
            }
    
            h3 {
                font-size: 30px;
                line-height: 1;
            }
    
            h4 {
                color: #ddd;
                font-size: 24px;
                font-style: italic;
                font-weight: normal;
                line-height: 1;
            }
        }

        .image {
            position: relative;
            align-content: center;
    
            .title-text {
                position: absolute;
                left: 2px;
                top: -32px;
                font-family: "Permanent Marker", serif;
                font-size: 3.5rem;
                color: #fff;
                overflow: hidden;

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
    
    .about-section {
        padding: 60px 0;

        .content {
            align-content: center;

            h2 {
                color: $primary;
            }

            p {
                color: $dark-gray;
            }
    
            .urban-acf {
                margin-bottom: 30px;
                margin-top: 15px;

                @media (max-width: 767px) {
                    margin: 15px 0;
                }
            }
        }
    }
    
    .cta-section {
        padding: 60px 0;
        
        .content {
            align-content: center;
    
            h2,
            p {
                color: $off-white;
            }
    
            .urban-acf {
                margin-bottom: 30px;
                margin-top: 15px;

                @media (max-width: 767px) {
                    margin: 15px 0;
                }
            }
        }
    
        .image {
            align-content: center;
        }
    }
    
    .about-company {
        padding: 60px 0;
    }

    .testimonials {
        background-color: $secondary;
        color: $off-white;
        padding: 60px 0;

        .single-testi {
            padding: 0 10px;
            text-align: left;
        }

        h2.section-heading {
            color: $off-white;
            font-family: "Montserrat", sans-serif !important;
            font-size: 2.4rem !important;
            font-style: italic !important;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            color: $off-white;
            font-family: "Montserrat", sans-serif !important;
            font-size: 24px !important;
            font-style: italic !important;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        blockquote {
            margin-bottom: 20px;
        }

        h4 {
            color: $off-white;
            font-family: "Permanent Marker", serif;
            font-style: italic;
        }
    }
    
    .mobile-buttons {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 1000;
    }
    
    .mobile-button {
        flex: 1;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
    
    .mobile-button i {
        margin-right: 8px;
    }
    
    @media (min-width: 768px) {
        .mobile-buttons {
            display: none;
        }
    }
    
}

.mobile-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.mobile-button {
    flex: 1;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.mobile-button i {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .mobile-buttons {
        display: none;
    }
}

